@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------------------------MOBILE----------------------------------- */

.App {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* --------------------------------HEADER----------------------------------- */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 375px;
    height: 80px;
    padding: 16px;
    margin: 0;
}

#dark .header {
    background-color: #2B3844;
}

#light .header {
    background-color: #FFFFFF;
}

.header h1 {
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
}

#dark .header h1 {
    color: #FFFFFF;
}

#light .header h1 {
    color: #111517;
}

.header p {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

#dark .header p {
    color: #FFFFFF;
}

#light .header p {
    color: #111517;
}

/* -------------------------------FILTERS----------------------- */









.countries--card {
    cursor: pointer;
    margin-top: 30px;
}

#dark .countries--card {
    cursor: pointer;
    background-color: brown;
}

#light .countries--card {
    cursor: pointer;
    background-color: rgb(226, 176, 119);
}

.countries--card--flag {
    width: 200px;
}

.country--page--main--container img {
    width: 300px;
}

